$icomoon-font-family: "desktime" !default;
$icomoon-font-path: "fonts" !default;

$dt-icon-linux: "\e99f";
$dt-icon-absence-calendar: "\e9a0";
$dt-icon-automatic-time-tracking: "\e9a1";
$dt-icon-feature-booking: "\e9a2";
$dt-icon-cost-calculation: "\e9a3";
$dt-icon-custom-reports: "\e9a4";
$dt-icon-document-title-tracking: "\e9a5";
$dt-icon-invoicing: "\e9a6";
$dt-icon-mobile-app: "\e9a7";
$dt-icon-offline-time-tracking: "\e9a8";
$dt-icon-pomodoro-timer: "\e9a9";
$dt-icon-private-time-option: "\e9aa";
$dt-icon-project-tracking: "\e9ab";
$dt-icon-screenshots: "\e9ac";
$dt-icon-shift-scheduling: "\e9ad";
$dt-icon-teams-contacts: "\e9ae";
$dt-icon-third-party-integrations: "\e9af";
$dt-icon-url-app-tracking: "\e9b0";
$dt-icon-webtimer: "\e9b1";
$dt-icon-check: "\e99e";
$dt-icon-remove: "\e99d";
$dt-icon-lock: "\e99c";
$dt-icon-checkbox-ve: "\e99b";
$dt-icon-booking: "\e999";
$dt-icon-stop: "\e99a";
$dt-icon-maximize: "\e998";
$dt-icon-print: "\e996";
$dt-icon-edit: "\e997";
$dt-icon-circle-full: "\e995";
$dt-icon-circle-empty: "\e994";
$dt-icon-plus: "\e97a";
$dt-icon-logo-amazon: "\e900";
$dt-icon-logo-android: "\e901";
$dt-icon-logo-apple: "\e902";
$dt-icon-logo-apple-appstore: "\e903";
$dt-icon-logo-chrome: "\e904";
$dt-icon-logo-dropbox: "\e905";
$dt-icon-logo-electron: "\e906";
$dt-icon-logo-euro: "\e907";
$dt-icon-logo-facebook: "\e908";
$dt-icon-logo-github: "\e909";
$dt-icon-logo-google: "\e90a";
$dt-icon-logo-google-playstore: "\e90b";
$dt-icon-logo-instagram: "\e90c";
$dt-icon-logo-yahoo: "\e90d";
$dt-icon-logo-youtube: "\e90e";
$dt-icon-logo-linkedin: "\e90f";
$dt-icon-logo-pinterest: "\e910";
$dt-icon-logo-skype: "\e911";
$dt-icon-logo-slack: "\e912";
$dt-icon-logo-tumblr: "\e913";
$dt-icon-logo-twitter: "\e914";
$dt-icon-logo-vimeo: "\e915";
$dt-icon-logo-vk: "\e916";
$dt-icon-logo-whatsapp: "\e917";
$dt-icon-logo-windows: "\e918";
$dt-icon-mail-unread: "\e919";
$dt-icon-add: "\e91a";
$dt-icon-add-circle: "\e91b";
$dt-icon-albums: "\e91c";
$dt-icon-alert: "\e91d";
$dt-icon-alert-circle: "\e91e";
$dt-icon-analytics: "\e91f";
$dt-icon-archive: "\e920";
$dt-icon-arrow-back: "\e921";
$dt-icon-arrow-back-1: "\e922";
$dt-icon-arrow-back-circle: "\e923";
$dt-icon-arrow-back-circle-1: "\e924";
$dt-icon-arrow-down: "\e925";
$dt-icon-arrow-down-1: "\e926";
$dt-icon-arrow-down-circle: "\e927";
$dt-icon-arrow-down-circle-1: "\e928";
$dt-icon-arrow-forward: "\e929";
$dt-icon-arrow-forward-1: "\e92a";
$dt-icon-arrow-forward-circle: "\e92b";
$dt-icon-arrow-forward-circle-1: "\e92c";
$dt-icon-arrow-up: "\e92d";
$dt-icon-arrow-up-1: "\e92e";
$dt-icon-arrow-up-circle: "\e92f";
$dt-icon-arrow-up-circle-1: "\e930";
$dt-icon-attach: "\e931";
$dt-icon-bar-chart: "\e932";
$dt-icon-bell: "\e933";
$dt-icon-book: "\e934";
$dt-icon-bookmark: "\e935";
$dt-icon-bookmarks: "\e936";
$dt-icon-briefcase: "\e937";
$dt-icon-browsers: "\e938";
$dt-icon-bug: "\e939";
$dt-icon-build: "\e93a";
$dt-icon-bulb: "\e93b";
$dt-icon-calendar: "\e93c";
$dt-icon-call: "\e93d";
$dt-icon-card: "\e93e";
$dt-icon-caret-back: "\e93f";
$dt-icon-caret-down: "\e940";
$dt-icon-caret-down-circle: "\e941";
$dt-icon-caret-forward: "\e942";
$dt-icon-caret-up: "\e943";
$dt-icon-caret-up-circle: "\e944";
$dt-icon-chatbox: "\e945";
$dt-icon-checkbox: "\e946";
$dt-icon-checkmark: "\e947";
$dt-icon-checkmark-circle: "\e948";
$dt-icon-checkmark-done: "\e949";
$dt-icon-checkmark-done-circle: "\e94a";
$dt-icon-clipboard: "\e94b";
$dt-icon-close: "\e94c";
$dt-icon-close-circle: "\e94d";
$dt-icon-copy: "\e94e";
$dt-icon-create: "\e94f";
$dt-icon-cube: "\e950";
$dt-icon-desktop: "\e951";
$dt-icon-document: "\e952";
$dt-icon-document-1-path1: "\e953";
$dt-icon-document-1-path2: "\e954";
$dt-icon-document-1-path3: "\e955";
$dt-icon-document-attach: "\e956";
$dt-icon-documents: "\e957";
$dt-icon-document-text: "\e958";
$dt-icon-download: "\e959";
$dt-icon-duplicate: "\e95a";
$dt-icon-earth: "\e95b";
$dt-icon-ellipsis-horizontal: "\e95c";
$dt-icon-ellipsis-horizontal-circle: "\e95d";
$dt-icon-ellipsis-vertical: "\e95e";
$dt-icon-ellipsis-vertical-circle: "\e95f";
$dt-icon-file-tray: "\e960";
$dt-icon-file-tray-full: "\e961";
$dt-icon-file-tray-stacked: "\e962";
$dt-icon-filter: "\e963";
$dt-icon-folder: "\e964";
$dt-icon-folder-open: "\e965";
$dt-icon-funnel: "\e966";
$dt-icon-gift: "\e967";
$dt-icon-help: "\e968";
$dt-icon-help-circle: "\e969";
$dt-icon-home: "\e96a";
$dt-icon-image: "\e96b";
$dt-icon-images: "\e96c";
$dt-icon-infinite: "\e96d";
$dt-icon-information: "\e96e";
$dt-icon-information-circle: "\e96f";
$dt-icon-layers: "\e970";
$dt-icon-link: "\e971";
$dt-icon-list: "\e972";
$dt-icon-list-circle: "\e973";
$dt-icon-log-in: "\e974";
$dt-icon-log-out: "\e975";
$dt-icon-mail: "\e976";
$dt-icon-mail-open: "\e977";
$dt-icon-menu: "\e978";
$dt-icon-notification-alert: "\e979";
$dt-icon-options: "\e97b";
$dt-icon-paper-plane: "\e97c";
$dt-icon-pencil: "\e97d";
$dt-icon-people: "\e97e";
$dt-icon-people-circle: "\e97f";
$dt-icon-person-circle: "\e980";
$dt-icon-pie-chart: "\e981";
$dt-icon-reader: "\e982";
$dt-icon-receipt: "\e983";
$dt-icon-search: "\e984";
$dt-icon-search-circle: "\e985";
$dt-icon-send: "\e986";
$dt-icon-server: "\e987";
$dt-icon-settings: "\e988";
$dt-icon-share-social: "\e989";
$dt-icon-shield: "\e98a";
$dt-icon-shield-checkmark: "\e98b";
$dt-icon-star: "\e98c";
$dt-icon-time: "\e98d";
$dt-icon-timer: "\e98e";
$dt-icon-today: "\e98f";
$dt-icon-trash: "\e990";
$dt-icon-trash-bin: "\e991";
$dt-icon-trophy: "\e992";
$dt-icon-warning: "\e993";

