@import '../../functions/functions';

.custom-checkbox {
    .custom-control-label {
        &::before,
        &::after {
            border-radius: rems(2);
        }        
    }

    .custom-control-input {
        &:checked {
            ~ .custom-control-label::after {
                content: '\e99e';
            }
        }

        &:indeterminate {
            ~ .custom-control-label::after {
                content: '\e99d';
            }
        }
    }
}
