@import '../functions/functions';

%logo-style {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-width: rems(64);
    min-height: rems(64);
}

.dt-logo {
    &-csv {
        @extend %logo-style;
        background-image: url('../../../assets/logo/csv.svg');
    }
    &-slack {
        @extend %logo-style;
        background-image: url('../../../assets/logo/Slack.svg');
    }
    &-gmail {
        @extend %logo-style;
        background-image: url('../../../assets/logo/Gmail.svg');
    }
    &-calendar {
        @extend %logo-style;
        background-image: url('../../../assets/logo/Google-Calendar.svg');
    }
    &-outlook {
        @extend %logo-style;
        background-image: url('../../../assets/logo/Outlook.svg');
    }
}